/*主页*/
.header{
  background-color: #0ea0db;
  width: 100%;
}
.aside{
  background-color: #FF7F24;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}
.main{
  background-color: #ffffff;
  height: 80vh;
}
.footer{
  background-color: red;
}
/*取消路由跳转中的下划线*/
a{
  text-decoration: none;
}
